@import './custom-variables';

.stepper-button7{
    background-color: green;
}

.factarow{
    margin-top:40px;

}
.facta-container{
margin-top: 20px;
    margin-left: 20px;
}
 
.selfdeclare-container{
    display: flex;
   
    
}