@import './custom-variables';

.stepper-button7{
    background-color: green;
}

.factarow{
    margin-top:40px;

}
.facta-container{
margin-top: 20px;
    margin-left: 20px;
}
 
.selfdeclare-container{
    display: flex;
   
    
}

// required star placement
.star-container{
  margin-left: 80px;
    margin-top: -20px;
      color: red;
}

.starcountry-container{
      margin-left: 290px;
      margin-top: -20px;
      color: red;


}
.starwealth-container{
      margin-left: 100px;
      margin-top: -40px;
      color: red;
}
.starcooperate-container{
     margin-left: 160px;
      margin-top: -20px;
      color: red;
}

.starnpo-container{
     margin-left: 120px;
      margin-top: -20px;
      color: red;
}
.starentity-container{
      margin-left: 170px;
      margin-top: -20px;
      color: red;
}

.starcountryres-container{
     margin-left: 150px;
      margin-top: -20px;
      color: red;
}

.starpolitical-container{
     margin-left: 130px;
      margin-top: -20px;
      color: red;
}
.stardeclare-container{
    margin-left: 110px;
      margin-top: -20px;
      color: red; 
}