@import './custom-variables';

.bank-row2{
    margin-top:40px;
}
.bank-row3{
    margin-top: 40px;
}
.bank-row4{
    margin-top: 40px;
}

.bank-button{
    margin-left: 90%;
    background: linear-gradient(to right,yellow,orange);
}
.bank-container{
        margin-top: 20px;
      padding: 20px;
    // margin-left: 50px;
       border: 1px solid rgb(204, 201, 201);
    border-radius: 2%;
    // box-shadow: gray 2px 3px 2px 3px;
        box-shadow: 0 0 1px rgb(174, 175, 174), 0 0 3px rgb(163, 165, 163), 0 0 3px rgb(160, 160, 160);
}

@media (max-width: 600px) {
  
 
  .accounttype-container{
      margin-top: 40px;
      margin-left: 20px;
          font-size: 14px;
          display: flex;
          gap: 20px;
           width: 100px;

      
  }
  .bank-button{
      margin-left: 20px;
  }

}
//   .navbar {
//     display: flex;
//     flex-direction: column;
//   }
