@import './custom-variables';

.adress-row2{
    margin-top:40px;
}
.adress-container{
        margin-top: 20px;
      padding: 20px;
    // margin-left: 50px;
       border: 1px solid rgb(204, 201, 201);
    border-radius: 2%;
    // box-shadow: gray 2px 3px 2px 3px;
        box-shadow: 0 0 1px rgb(174, 175, 174), 0 0 3px rgb(163, 165, 163), 0 0 3px rgb(160, 160, 160);
}
