@import "custom-variables";
@import "stepper";
@import "Form1";
@import "Form2";
@import "form3";
@import "form5";
@import "form6";
@import "form7";



.topbar-content{
height: 80px;
box-shadow: 0 6px  0  rgba(0, 0, 0, 0.1); /* Shadow only below */

}
.languages-container.language{
    color: crimson;
}
.languages-container{
    color: rgb(8, 0, 0);
    background-color: rgb(10, 73, 167);
   
    padding-bottom: 30px;
    padding-left: 1px;
 
    width: 60px;
    height: 20px;
    border: 2px solid rgb(243, 159, 4);
    border-radius: 10px;
}

.logo-container{
    margin-top: -10px;
}


//basic details which is displayed in every page 
.details-container{
    margin-left: 100px;
    width: 1000px;
    margin-top: -10px;
    border: 1px solid rgb(235, 228, 228);
    // box-shadow: 0 3px 0 2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 1px rgb(174, 175, 174), 0 0 2px rgb(163, 165, 163), 0 0 3px rgb(160, 160, 160);
    border-radius: 10px;
    font-size: larger;
    font-weight: 400;
    padding-left: 100px;
}

@media (max-width:600px){
    .details-container{
    margin-left: 10px;
    width:300px;
    border: 1px solid black;
    box-shadow: 0 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 25px;
}
}
