@import './custom-variables';



//stepper-widget
.stepper-button{
  background-color: rgb(23, 230, 16);
 ;
}
.stepper-button2{
  background-color: rgb(255, 196, 2);
 
}


//stepper container
.full-stepper{
  margin-top: 50px;
}


//show lable zigzag
.step-contain{
  margin-top: -50px;
}

